<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="/css/ngDialog/ngDialog.css"/>
    <link rel="stylesheet" href="/css/ngDialog/ngDialog-theme-default.css"/>

    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="/js/angular.js"
            th:src="@{/webjars/angularjs/1.4.0/angular.js}"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/css/ngDialog.min.css"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/css/ngDialog-theme-default.min.css"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/css/ngDialog-theme-plain.min.css"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/js/ngDialog.min.js"></script>


</head>
<body>
<th:block layout:fragment="content">
    <div ng-app="myApp" ng-controller="customersCtrl"
         style="height: 1080px;width: 900px;margin: auto;text-align: center">
        <div style="width:800px;height: auto"><h1 th:text="${message}">原始数据，看见这个说明没有成功!</h1>
            <h1>部门管理</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>部门名称</th>
                    <th>部门描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody th:each="deptinfo: ${deptInfos}">
                <tr>
                    <td>
                        <span th:text="*{deptinfo.id}">ID</span>
                    </td>
                    <td>
                        <span th:text="*{deptinfo.name}">Name</span>
                    </td>
                    <td>
                        <span th:text="*{deptinfo.describe}">describe</span>
                    </td>
                    <td>
                        <input class="btn btn-success" type="button"
                               th:attr="ng-click='editDeptInfo(\''+*{deptinfo.id}+'\');'" value="修改"/>
                        <input class="btn btn-danger" type="button"
                               th:attr="ng-click='deleteDeptInfo(\''+*{deptinfo.id}+'\');'" value="删除"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav style="padding-left: 10px">
                <ul class="pagination">
                    <li><a href="">&laquo;</a></li>

                    <li>
                        <a th:if="${not isFirstPage}"
                           th:href="@{${'/getDeptInfo/page'}(pageNumber=${pageNum-1},pageSize=${pageSize})}">Previous</a>
                        <a th:if="${isFirstPagee}" href="javascript:void(0);">Previous</a>
                    </li>

                    <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                            <span th:text="${pageNo}"></span>
                        </a>

                        <a th:if="${not (pageNum eq pageNo)}"
                           th:href="@{${'/getDeptInfo/page'}(pageNumber=${pageNo},pageSize=${pageSize})}">
                            <span th:text="${pageNo}"></span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${not isLastPage}"
                           th:href="@{${'/getDeptInfo/page'}(pageNumber=${pageNum+1},pageSize=${pageSize})}">Next</a>
                        <a th:if="${isLastPage}" href="javascript:void(0);">Next</a>
                    </li>

                    <li><a href="#">&raquo;</a></li>
                </ul>
            </nav>
        </div>

        <script type="text/ng-template" id="editdeptinfoid">
            <div class="ngdialog-message">
                <h3>编辑部门信息</h3>
                <div>
                    <span>部门名称：</span>
                    <input type="text" value="{{ngDialogData.deptInfo.name}}"/>
                </div>
                <div>
                    <span>部门描述：</span>
                    <input type="text" value="{{ngDialogData.deptInfo.describe}}"/>
                </div>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-secondary"
                        ng-click="closeThisDialog()">Cancel
                </button>
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Save
                </button>
            </div>
        </script>

        <script type="text/ng-template" id="deleteDept">
            <div class="ngdialog-message">
                <h3>确定删除 {{ngDialogData.deptinfo.name}} ?</h3>
                <p>一旦删除不可恢复</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-secondary"
                        ng-click="closeThisDialog()">Cancel
                </button>
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Save
                </button>
            </div>
        </script>
    </div>
    <script>
        var app = angular.module('myApp', ['ngDialog']);

        app.config(['ngDialogProvider', function (ngDialogProvider) {
            ngDialogProvider.setDefaults({
                className: 'ngdialog-theme-default',
                plain: false,
                showClose: true,
                closeByDocument: true,
                closeByEscape: true,
                appendTo: false,
                preCloseCallback: function () {
                    console.log('default pre-close callback');
                }
            });
        }]);
        app.controller('customersCtrl', function ($scope, ngDialog, $timeout, $http) {

            /**
             *删除部门
             * @param deptID 部门ID
             */
            $scope.deleteDeptInfo = function (deptID) {
                $scope.getdeptInfo(deptID, function successCallback(response) {
                    if (response.data != null) {
                        // 请求成功执行代码
                        ngDialog.openConfirm({
                            template: 'deleteDept',
                            className: 'ngdialog-theme-default',
                            data: {deptinfo: response.data.data},
                            scope: $scope
                        }).then(function (value) {
                                // 确认删除
                                $scope.deletedept(deptID, function (delresponse) {
                                    if (delresponse.data == true) {
                                        alert("返回成功！！")
                                    }
                                }, null)
                            },
                            function (value) {
                                console.log('wwwwwwwwwwwww:' + value);
                            });
                    }
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            };

            /**
             * 编辑部门信息
             */
            $scope.editDeptInfo = function (deptID) {
                $scope.getdeptInfo(deptID, function successCallback(response) {
                    if (response.data != null) {
                        ngDialog.open({
                            template: 'editdeptinfoid',
                            className: 'ngdialog-theme-default',
                            data: {deptInfo: response.data.data},
                            scope: $scope
                        });
                    }
                }, null);
            };

            /**
             * 获取部门信息
             * @param deptID 部门ID
             */
            $scope.getdeptInfo = function (deptID, successCallback, errorCallback) {
                $http({
                    method: 'GET',
                    url: '/getDeptInfo/' + deptID
                }).then(successCallback, errorCallback);
            };

            /**
             * 获取部门信息
             * @param deptID 部门ID
             */
            $scope.deletedept = function (deptID, successCallback, errorCallback) {
                //    $http.post('/deleteDept', {"deptid": parseInt(deptID)}).then(successCallback, errorCallback);
                $http({
                    method: 'POST',
                    url: '/deleteDept',
                    data: {"id": parseInt(deptID), "name": "test", "describe": "sss"},
                    headers: {'Content-Type': 'application/json'},
                }).then(successCallback, errorCallback);
            };
        });

        app.controller('InsideCtrl', function ($scope, ngDialog) {
            $scope.dialogModel = {
                message: 'message from passed scope'
            };
            $scope.openSecond = function () {
                ngDialog.open({
                    template: '<h3><a href="" ng-click="closeSecond()">Close all by click here!</a></h3>',
                    plain: true,
                    closeByEscape: false,
                    controller: 'SecondModalCtrl'
                });
            };
        });
    </script>
</th:block>
</body>
</html>